<div class="resolution-form">
  {{#d-modal-body
      title="communitarian.community.ui_builder.tenets.label"
      class="poll-ui-builder community-ui-builder"}}
    <div class="poll-ui-builder-form form-horizontal">
      <section class="field">
        <p>{{communityTenets}}</p>
      </section>
    </div>
  {{/d-modal-body}}
</div>
