<div class="landing-block">
  <div class="home-title">
    <a name="hello_world" href="#hello_world">Communitarian welcome page</a>
  </div>
</div>

{{landing-explore}}
{{landing-communities-header}}
{{landing-footer}}
