{{#d-section class="landing" pageClass="home"}}
  <div class="landing-block">
    <div class="home-title">
      <a name="members" href="#members">Communitarian welcome page</a>
    </div>
  </div>
{{/d-section}}
