{{#if siteSettings.communitarian_enabled}}
  <h3 class="section-about__title">{{i18n "communitarian.landing.about.title"}}</h3>
  <div class="section-about__description">
    <img src={{photoUrl}} class="section-about__founder" />
    {{i18n "communitarian.landing.about.description"}}
  </div>
{{/if}}