{{#if siteSettings.communitarian_enabled}}
  <h3 class="section-about__title">
    {{i18n "communitarian.landing.about.title"}}
  </h3>
  <div class="section-about__description">
    {{i18n "communitarian.landing.about.description"}}
  </div>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=S6EW6PCYWBXYY"
    target="_blank" class="section-about__donate">
    {{i18n "communitarian.landing.about.donate"}}
  </a>
{{/if}}
