{{#if siteSettings.communitarian_enabled}}
  <div class="communities-header">
    <h2 class="title">{{i18n "communitarian.communities_header.title"}}</h2>
    <p class="subtitle">{{i18n "communitarian.communities_header.subtitle"}}
    </p>
  </div>
{{/if}}
