<div class="dialog-list__header">
  <span class="dialog-list__header-title">
    {{i18n "communitarian.dialog.header_title"}}
  </span>
</div>

{{#each dialogs as |dialog|}}
  {{dialog-list-item dialog=dialog}}
{{/each}}
