<div class="dialog-list__header">
  <span class="dialog-list__header-title">
    {{#if dialogs}}
      {{i18n "communitarian.dialog.header_title"}}
    {{else}}
      {{i18n "communitarian.resolution.header_title"}}
    {{/if}}
  </span>
</div>

{{#each items as |item|}}
  {{dialog-list-item dialog=item}}
{{/each}}
