{{#if title}}
  <div class="dialog-list__header">
    <span class="dialog-list__header-title">
      {{title}}
    </span>
  </div>
{{/if}}
{{#each items as |item|}}
  {{dialog-list-item resolutions=resolutions dialog=item full=full}}
{{/each}}
