<div class="dialog-list__header">
  <span class="dialog-list__header-title">
    {{i18n "communitarian.dialog.header_title"}}
  </span>

  {{d-button
    class="dialog-list__link"
    action=(action "goToDialogsPage")
    label="communitarian.dialog.view_all"
  }}
</div>

{{#each dialogs as |dialog|}}
  {{dialog-list-item dialog=dialog}}
{{/each}}
