{{#if siteSettings.communitarian_enabled}}
  <h2 class="landing-communities-header__title">
    {{i18n "communitarian.landing.communities_header.title"}}</h2>
  <p class="landing-communities-header__text">
    {{i18n "communitarian.landing.communities_header.text"}}
  </p>
{{/if}}
