
<div id="suggested-topics" class="suggested-topics" role="complementary"
     aria-labelledby="suggested-dialogs-title">
  <div class="topics">
    {{basic-topic-list
      hideCategory="true"
      showPosters="true"
      topics=topic.suggestedTopics
    }}
  </div>
</div>
