$category-boxes-gap: 1em;

#list-area {
  margin-bottom: 0;

  .category-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;

    .category-box {
      flex: 0 1 100%;
      margin: 0 0 $category-boxes-gap;
      border: 1px solid #ccc !important;
      border-radius: 10px;
      box-sizing: border-box;
      transition: all 0.2s;

      @media screen and (min-width: 600px) {
        flex-basis: calc(50% - #{$category-boxes-gap} / 2);
      }

      &:hover {
        border-color: $tertiary !important;
        transition: all 0.2s;
      }

      &:hover .category-details .category-box-heading h3,
      &:hover .category-details .category-box-heading h3 .d-icon,
      &:hover .category-details > .description {
        color: $tertiary;
        transition: all 0.2s;
      }

      &:nth-of-type(2n + 1) {
        @media screen and (min-width: 750px) {
          margin-right: $category-boxes-gap;
        }
      }

      .category-box-inner {
        display: flex;
        flex-direction: row;
        border: 0;
        padding: 1.5em;

        @media screen and (min-width: 750px) {
          padding: 2.5em;
        }
      }

      .category-logo {
        flex: 0 0 5em;
        display: flex;
        height: 5em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @media screen and (min-width: 750px) {
          flex: 0 0 6em;
          height: 6em;
        }

        .logo {
          flex: 1;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .category-details {
        margin-left: 1.5em;

        @media screen and (min-width: 750px) {
          margin-left: 2.5em;
        }

        .category-box-heading {
          margin: 0;
          font-size: 1em;

          @media screen and (min-width: 750px) {
            font-size: 1.3em;
          }

          h3,
          h3 .d-icon {
            color: #000;
            text-align: left;
            transition: all 0.2s;
          }
        }

        .description {
          margin-top: 0.7em;
          padding-bottom: 0;
          color: #555;
          font-size: 0.9em;
          line-height: 1.5em;
          text-align: left;
          transition: all 0.2s;

          @media screen and (min-width: 750px) {
            font-size: 1em;
            line-height: 1.7em;
          }
        }
      }
    }
  }
}
