.dialog-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.4em;
  }

  &__header-title {
    color: #959595;
    font-size: 1.2em;
  }

  & &__link,
  & &__link:hover {
    font-family: "Avenir Light", sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    border: 0;
    background: transparent;
    color: $tertiary;
    white-space: nowrap;
  }
}

.dialog-list {
  display: none;
}
