.modal.forgot-password-modal {
  background-color: transparent;

  .modal-inner-container {
    max-width: 32em;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6em 0 rgba(0, 0, 0, 0.04);

    .modal-header {
      padding: 2em 1em 1em;
      position: relative;
      border-bottom: 0;

      @media screen and (max-width: 500px) {
        padding-top: 1.5em;
      }

      .modal-close {
        position: absolute;
        right: 1em;
        top: 1em;
        font-size: 1.3em;
      }

      .title {
        flex: 1;
        text-align: center;
        font-size: 1.2em;
        line-height: 2em;

        @media screen and (max-width: 500px) {
          font-size: 1em;
        }

        h3 {
          font-weight: 900;
          letter-spacing: 1px;

          @media screen and (max-width: 500px) {
            letter-spacing: unset;
          }
        }
      }
    }

    #modal-alert {
      padding: 0.5em 3em;

      @media screen and (max-width: 500px) {
        margin-bottom: 0.5em;
        padding-left: 1.75em;
        padding-right: 1.75em;
        text-align: center;
      }
    }

    .forgot-password-modal {
      background-color: $secondary;
      border-radius: 5px;
      padding-top: 0;
      max-height: none !important;
      padding-left: 3em;
      padding-right: 3em;
      padding-bottom: 0;

      @media screen and (max-width: 500px) {
        padding-left: 2em;
        padding-right: 2em;
      }

      tr.input:not(:first-of-type) {
        margin-top: 1em;
      }

      label {
        margin-top: 0;
        width: auto;
        font-weight: 500;

        @media screen and (max-width: 500px) {
          text-align: center;
        }
      }

      .ember-text-field {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        border: 1px solid #cdcdcd;
        border-radius: 6px;
        background-color: $secondary;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.7em;
        width: 100%;
        margin-top: 1em;

        @media screen and (max-width: 500px) {
          font-size: 1em;
        }
      }
    }

    .modal-footer {
      padding: 1.5em 3em;
      border-top: 0;

      @media screen and (max-width: 500px) {
        padding: 1em 2em;
      }

      .forgot-password-reset {
        margin: 0;
        padding: 0.9em 2em;

        @media screen and (max-width: 500px) {
          padding: 0.7em 1.5em;
          width: 100%;
        }
      }
    }
  }
}
