.noscroll-x {
  overflow-x: hidden;
}

$landing-mobile-width: 500px;
$landing-tablet-width: 750px;
$landing-desktop-width: 1024px;
$landing-desktop-hd-width: 1300px;

.landing-block-wrap {
  max-width: $large-width;
  margin-right: auto;
  margin-left: auto;
}

.landing-block {
  &__title {
    font-size: 1.7em;
    font-weight: 900;

    @media screen and (min-width: $landing-desktop-width) {
      font-size: 2.5em;
      line-height: 1.2em;
    }
  }

  &__text {
    font-size: .8em;

    @media screen and (min-width: $landing-desktop-width) {
      font-size: 1.05em;
    }
  }
  &__blue-dot {
    padding-left: 0.8em;
    position: relative;

    @media screen and (min-width: $landing-desktop-width) {
      padding-left: 0.65em;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      margin-left: -18px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      background-color: $tertiary;
      border-radius: 50%;

      @media screen and (min-width: $landing-desktop-width) {
        margin-left: -23px;
        width: 10px;
        height: 10px;
        margin-top: -5px;
      }
    }
  }
  &__link,
  &__link:hover,
  &__link:visited {
    display: inline-block;
    padding: 0.5em 0.8em;
    font-size: 1em;
    border-radius: 5px;
    color: $secondary;
    background-color: $tertiary;
    font-weight: 900;
    line-height: 1.6em;
    white-space: nowrap;

    @media screen and (min-width: $landing-desktop-width) {
      padding: 0.7em 1.1em;
      font-size: 1.2em;
    }
  }
}

$landing-explore-image-height: 450px;

.intro {
  .wrap[role="main"] {
    max-width: 100%;
  }
}

.landing-explore {
  margin-top: 2em;
  justify-content: space-between;

  @media screen and (min-width: $landing-tablet-width) {
    display: flex;
  }

  @media screen and (min-width: $landing-desktop-width) {
    margin-top: 3em;
  }

  &__left {
    margin-bottom: 50px;
    flex: 1;

    @media screen and (min-width: $landing-tablet-width) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &__title {
    @extend .landing-block__title;
    color: $tertiary;
  }

  &__text {
    font-size: 1.47em;

    @extend .landing-block__text;
    margin-top: 0;

    @media screen and (min-width: $landing-mobile-width) {
      margin-top: 1em;
    }
  }

  &__link {
    @extend .landing-block__link;
    margin-top: 1em;
  }

  &__right {
    flex: 1;
    max-width: 650px;
    position: relative;
    padding: 1.5em 2em;
    background: rgba(240, 240, 240, 0.5);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }
}

.categories-placeholders {
  background-image: url("data:image/svg+xml,%3Csvg width='618' height='189' viewBox='0 0 618 189' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cg filter='url(%23filter0_d)'%3E%3Crect x='19' y='17' width='580' height='150.974' rx='8' fill='white'/%3E%3Crect x='19' y='17' width='580' height='150.974' rx='8' stroke='%23DCDCDC'/%3E%3C/g%3E%3Ccircle cx='88.5' cy='86.5' r='44.5' fill='%23D8D8D8'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='44' y='42' width='89' height='89'%3E%3Ccircle cx='88.5' cy='86.5' r='44.5' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M409 45.3333H159V73.6666H409V45.3333Z' fill='%237C7C7C'/%3E%3Cpath d='M241 85H159V100.867H241V85Z' fill='%237C7C7C'/%3E%3Cpath d='M248 85H288V100.867H248V85Z' fill='%237C7C7C'/%3E%3Cpath d='M293 109.933H256V125.8H293V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M297 109.933H337V125.8H297V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M400 109.933H343V125.8H400V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M406 109.933H419V125.8H406V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M447 109.933H425V125.8H447V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M454 109.933H510V125.8H454V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M414 85H388V100.867H414V85Z' fill='%237C7C7C'/%3E%3Cpath d='M419 85H495V100.867H419V85Z' fill='%237C7C7C'/%3E%3Cpath d='M382 85H293V100.867H382V85Z' fill='%237C7C7C'/%3E%3Cpath d='M159 109.933H210V125.8H159V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M250 109.933H216V125.8H250V109.933Z' fill='%237C7C7C'/%3E%3Cpath d='M159 134.867H226V150.733H159V134.867Z' fill='%237C7C7C'/%3E%3Cpath d='M297 134.867H230V150.733H297V134.867Z' fill='%237C7C7C'/%3E%3Cpath d='M310 134.867H360V150.733H310V134.867Z' fill='%237C7C7C'/%3E%3Cpath d='M403 134.867H366V150.733H403V134.867Z' fill='%237C7C7C'/%3E%3Cpath d='M411 134.867H466V150.733H411V134.867Z' fill='%237C7C7C'/%3E%3Cpath d='M519 134.867H472V150.733H519V134.867Z' fill='%237C7C7C'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.5' y='0.5' width='617' height='187.974' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  flex: 1 0 auto;
  background-size: 100% auto;
  background-repeat: repeat-y;
  height: 100%;
  margin-top: -20px;

  @media screen and (min-width: $landing-desktop-width) {
    margin-left: -18px;
    margin-right: -12px;
  }

  @media screen and (min-width: $landing-tablet-width) {
    margin-left: -15px;
    margin-right: -12px;
  }
}

.section-hero {
  padding: 20px 20px 30px;
  max-width: 700px;

  @media screen and (min-width: $landing-desktop-width) {
    padding: 30px 40px 50px 10%;
  }
}

.section-about {
  border-top: solid 1px #e0e0e0;
  overflow: hidden;
  padding: 20px 20px 30px;

  @media screen and (min-width: $landing-desktop-width) {
    font-size: 1.47em;
    padding: 45px 40px 80px 10%;
  }

  &__founder {
    float: left;
    margin: 0 1em .2em 0;
  }

  &__description {
    max-width: 700px;
  }

  &__title {
    font-size: 1.55em;
  }
}

.landing-communities-header {
  @extend .landing-block-wrap;

  &__title {
    @extend .landing-block__blue-dot;
    font-size: 1.7em;
    font-weight: 900;
    text-transform: capitalize;

    @media screen and (min-width: $landing-desktop-width) {
      font-size: 1.47em;
    }

    &:before {
      @media screen and (min-width: $landing-desktop-width) {
        margin-left: -24px;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__text {
    @extend .landing-block__text;
    max-width: 36em;
    margin-top: 0;
    padding-left: 1em;
    font-family: "Avenir Light", sans-serif;

    @media screen and (min-width: $landing-mobile-width) {
      margin-top: .75em;
    }
  }
}

$category-boxes-gap: 1em;

.homepage {
  .category-boxes {
    margin-top: 2em;

    @media screen and (min-width: $landing-mobile-width) {
      flex-direction: column;
      width: 100%;
    }

    .category-box {
      flex: 0 1 100%;
      margin: 0 0 $category-boxes-gap;
      border: 1px solid #dcdcdc !important;
      box-sizing: border-box;
      background: $secondary;
      box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      transition: all 0.2s;

      @media screen and (min-width: $landing-desktop-hd-width) {
        margin-right: .45vw;
      }

      @media screen and (min-width: $landing-mobile-width) {
        flex-basis: calc(50% - #{$category-boxes-gap} / 2);
        width: auto;
      }

      &:hover {
        border-color: $tertiary !important;
        transition: all 0.2s;
      }

      &:hover .category-details .category-box-heading h3,
      &:hover .category-details .category-box-heading h3 .d-icon,
      &:hover .category-details > .description {
        color: $tertiary;
        transition: all 0.2s;
      }

      .category-box-inner {
        display: flex;
        flex-direction: row;
        border: 0;
        padding: 1em 1em 1.5em;

        @media screen and (min-width: $landing-desktop-width) {
          padding: 2em;
        }
      }

      .category-logo {
        flex: 0 0 4em;
        display: flex;
        height: 4em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background: #dcdcdc;
        border-radius: 50%;
        position: relative;
        box-shadow: inset 0 0 0 10px #fff;

        @media screen and (min-width: $landing-desktop-width) {
          flex: 0 0 6em;
          height: 6em;
        }

        .placeholder {
          width: 90%;
        }

        .logo {
          flex: 1;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .category-details {
        margin-left: 1em;

        @media screen and (min-width: $landing-desktop-width) {
          margin-left: 2.5em;
        }

        .category-box-heading {
          margin: 0;
          font-size: 1em;

          @media screen and (min-width: $landing-desktop-width) {
            font-size: 1.3em;
          }

          h3,
          h3 .d-icon {
            color: #000;
            text-align: left;
            transition: all 0.2s;
          }
        }

        .description {
          padding-bottom: 0;
          color: #555;
          font-size: 0.9em;
          font-family: "Avenir Light", sans-serif;
          line-height: 1.5em;
          text-align: left;
          transition: all 0.2s;

          @media screen and (min-width: $landing-desktop-width) {
            font-size: 1.1em;
          }

          .overflow {
            max-height: none;
          }
        }
      }
    }

    &.no-logos .logo {
      display: block;
    }
  }
}

#list-area {
  margin-bottom: 0;

  .category-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .category-box {
      flex: 0 1 100%;
      margin: 0 0 $category-boxes-gap;
      border: 1px solid #ccc !important;
      border-radius: 10px;
      box-sizing: border-box;
      transition: all 0.2s;

      @media screen and (min-width: 600px) {
        flex-basis: calc(50% - #{$category-boxes-gap} / 2);
      }

      &:hover {
        border-color: $tertiary !important;
        transition: all 0.2s;
      }

      &:hover .category-details .category-box-heading h3,
      &:hover .category-details .category-box-heading h3 .d-icon,
      &:hover .category-details > .description {
        color: $tertiary;
        transition: all 0.2s;
      }

      &:nth-of-type(2n + 1) {
        @media screen and (min-width: $landing-tablet-width) {
          margin-right: $category-boxes-gap;
        }
      }

      .category-box-inner {
        display: flex;
        flex-direction: row;
        border: 0;
        padding: 1.5em;

        @media screen and (min-width: $landing-tablet-width) {
          padding: 2.5em;
        }
      }

      .category-logo {
        flex: 0 0 5em;
        display: flex;
        height: 5em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #dcdcdc;
        border-radius: 50%;
        position: relative;
        box-shadow: inset 0 0 0 10px #fff;

        @media screen and (min-width: $landing-tablet-width) {
          flex: 0 0 6em;
          height: 6em;
        }

        .logo {
          flex: 1;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .placeholder {
          width: 90%;
        }
      }

      .category-details {
        margin-left: 1.5em;

        @media screen and (min-width: $landing-tablet-width) {
          margin-left: 2.5em;
        }

        .category-box-heading {
          margin: 0;
          font-size: 1em;

          @media screen and (min-width: $landing-tablet-width) {
            font-size: 1.3em;
          }

          h3,
          h3 .d-icon {
            color: #000;
            text-align: left;
            transition: all 0.2s;
          }
        }

        .description {
          margin-top: 0.7em;
          padding-bottom: 0;
          color: #555;
          font-size: 0.9em;
          line-height: 1.5em;
          text-align: left;
          transition: all 0.2s;

          @media screen and (min-width: $landing-tablet-width) {
            font-size: 1em;
            line-height: 1.7em;
          }
        }
      }
    }

    &.no-logos .logo {
      display: block;
    }
  }
}

$landing-footer-mobile-width: 650px;
$landing-footer-padding-side: 8px;

.landing-footer {
  margin: 0 -10px 0;
  padding: 4em $landing-footer-padding-side 3em;
  background-color: $primary;

  @media screen and (min-width: ($large-width + 2 * $landing-footer-padding-side)) {
    margin-left: -9999px;
    margin-right: -9999px;
  }

  &__content {
    @extend .landing-block-wrap;
    @media screen and (max-width: $landing-footer-mobile-width - 1) {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  &__top {
    color: $secondary;
    text-align: center;

    @media screen and (min-width: $landing-footer-mobile-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    // color: $primary-very-low;
    // color: $primary-low;
    // color: $primary-low-mid;
    // color: $primary-medium;
    // color: $primary-high;
    // color: $primary-very-high;
  }

  &__top-left {
    @media screen and (min-width: $landing-footer-mobile-width) {
      margin-right: 4em;
    }
  }

  &__title {
    @extend .landing-block__title;
    @extend .landing-block__blue-dot;

    @media screen and (max-width: $landing-footer-mobile-width - 1) {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }

  &__text {
    @extend .landing-block__text;

    @media screen and (min-width: $landing-footer-mobile-width) {
      padding-left: 1.3em;
    }
  }

  &__link {
    @extend .landing-block__link;
    margin-top: 1em;

    @media screen and (min-width: $landing-footer-mobile-width) {
      margin-top: 0;
    }
  }

  &__line {
    margin: 3em 0;
    width: 100%;
    height: 1px;
    background-color: $primary-very-high;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 10em;
    opacity: 0.5;

    @media screen and (min-width: $landing-footer-mobile-width) {
      width: 12em;
    }
  }

  &__icons {
    display: flex;

    a {
      color: $primary-medium;
    }
  }

  &__icon {
    font-size: 1.4em;
    color: $primary-medium;
    transition: all 0.2s;

    &:not(:first-child) {
      margin-left: 0.75em;

      @media screen and (min-width: $landing-footer-mobile-width) {
        margin-left: 1em;
      }
    }

    &--instagram,
    &--facebook,
    &--twitter {
      @extend .landing-footer__icon;
    }

    &--instagram:hover {
      color: $instagram;
    }

    &--facebook:hover {
      color: $facebook;
    }

    &--twitter:hover {
      color: $twitter;
    }
  }
}
