.page-header {
  &__title-wrap {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 2.3em;
  }

  &__button {
    margin-left: 1.5em;

    .community-action .toggle-community-button {
      margin: 0;
    }
  }

  &__description {
    display: block;
    margin-top: 0.4em;
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.4em;

    p {
      margin: 0;
    }
  }
}
