.resolution-form {
  .resolution-form-title {
    width: 100%;
  }

  .resolution-form-preview {
    margin-top: 8px;
  }

  .modal-footer {
    display: flex;
  }

  .resolution-modal-footer-reminder p {
    margin: 0;
  }

  .resolution-modal-footer-buttons {
    button {
      width: 100px;

      padding: 10px 12px;
    }
  }
}
