.resolution-form {
  .modal-body {
    padding: 2em 2em 3em;

    .poll-ui-builder-form {
      display: block;
    }

    .body-content {
      display: flex;
    }

    .poll-textarea {
      font-size: 1.1em;
    }

    .resolution-form-title {
      width: 100%;
    }

    .resolution-form-preview {
      margin-top: 0.5em;
      margin-left: 1.75em;
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 0 1.3em;

      p {
        margin-bottom: 0;
        font-size: 1.3em;
        line-height: 1.2em;
      }

      .poll {
        margin-top: 0;
        border: 0;

        .poll-container {
          padding: 0;
          border-right: 0;
          font-size: 1.1em;

          li[data-poll-option-id] {
            padding-bottom: 0;
          }
        }

        .poll-info {
          display: none;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    padding: 22px 35px;

    .resolution-modal-footer-buttons {
      font-size: 1.2em;

      button {
        padding: 10px 17px;
      }
    }

    .resolution-modal-footer-reminder {
      margin-left: 1.5em;
      font-size: 1.1em;

      p {
        margin: 0;
      }
    }
  }
}
