.resolution-form {
  .full-width {
    width: 100%;
  }

  .modal-header {
    @media screen and (max-width: 500px) {
      padding: 1em;
    }
  }

  .modal-body {
    padding: 1.5em 2em 2.5em;
    max-height: none;

    @media screen and (max-width: 500px) {
      padding: 1.5em 1em 0.5em;
    }

    // create community modal start
    &.community-ui-builder {
      padding-bottom: 0.5em;
      max-height: none;

      @media screen and (max-width: 500px) {
        float: none;
        max-height: 350px;
      }

      textarea {
        height: initial;
      }

      .uploaded-image-preview {
        margin-bottom: 0;
        height: 8em;
        border: 1px solid #e9e9e9;
        background-color: transparent;

        .hidden-upload-field {
          width: 10%;
        }

        @media screen and (max-width: 500px) {
          max-width: 300px;
        }
      }

      & + .modal-footer .resolution-modal-footer-buttons {
        @media screen and (max-width: 500px) {
          float: none;
        }
      }
    }
    // create community modal end

    textarea {
      padding: 0.25em 0.5em;
    }

    .poll-ui-builder-form {
      display: block;

      .d-editor-preview {
        display: block;
      }

      label {
        font-weight: normal;
      }

      @media screen and (max-width: 500px) {
        .options {
          width: 100%;
        }
      }
    }

    .body-content {
      display: flex;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }

    .options {
      max-width: 100%;

      .poll-textarea label {
        font-weight: bold;
      }

      @media (max-width: 700px) {
        width: 50%;
      }
    }

    .resolution-form-title {
      width: 100%;
    }

    .resolution-form-preview {
      margin-top: 0.5em;
      margin-left: 1.75em;
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 0 1.3em;

      summary {
        @media (min-width: 500px) {
          display: none;
        }

        @media (max-width: 500px) {
          display: block;
        }

        &:before {
          font-size: 11px;
          margin-left: -10px;
          margin-right: 5px;
        }
      }

      p {
        margin-bottom: 0;
        font-size: 1.2em;
        line-height: 1.2em;
      }

      .poll {
        margin-top: 0;
        border: 0;

        .poll-container {
          padding: 0;
          border-right: 0;

          li[data-poll-option-id] {
            padding-bottom: 0;

            &:before {
              position: relative;
              vertical-align: baseline;
              border: 2px solid $primary;
              border-radius: 50%;
              display: inline-block;
              margin-right: 0.5em;
              width: 12px;
              height: 12px;
              content: "";
            }
          }
        }

        .poll-info {
          display: none;
        }
      }

      @media (max-width: 700px) {
        width: 100%;
        max-width: 50%;
      }

      @media (max-width: 500px) {
        margin-left: 0;
        padding: 0.5em 1.3em 0.3em;
        max-width: 100%;
      }
    }
  }

  .modal-footer {
    display: flex;
    padding: 1.5em 2.3em;

    @media screen and (max-width: 500px) {
      padding: 1em;
      display: block;
    }

    .resolution-modal-footer-buttons {
      font-size: 1.2em;
      width: 100%;

      @media screen and (max-width: 500px) {
        margin-right: 1em;
        margin-bottom: 0.5em;
        float: left;
        font-size: 1em;
      }

      button {
        margin: 0;
        padding: 10px 17px;
      }
    }

    .resolution-modal-footer-reminder {
      margin-left: 1.5em;
      font-size: 1.1em;

      @media screen and (max-width: 500px) {
        margin-left: 0;
        font-size: 0.9em;
        text-align: justify;
        font-family: "Avenir Light", sans-serif;
        color: #3e3e3e;
      }

      p {
        margin: 0;
      }
    }
  }
}
