.verification-intents {
  &__wrap {
    margin: 5% auto;
    padding: 2em 2.3em;
    box-sizing: border-box;
    width: 480px;
    max-width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 1.2em;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;

    .spinner {
      margin-left: 1em;
    }

    &--has-progress {
      @extend .verification-intents__header;
      margin-top: -1em;
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 0;
    font-size: 1.8em;
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
  }

  &__icon {
    margin-right: 0.75em;
    padding: 0.8em;
    height: 4em;
    width: 4em;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 50%;

    &.success {
      border-color: #009900;
    }

    &.failure {
      border-color: #ffc280;
    }
  }

  &__text {
    font-family: "Avenir Heavy", sans-serif;
    font-weight: 900;

    &--short {
      @extend .verification-intents__text;
      width: 60%;
    }
  }

  &__hint {
    font-family: "Avenir Light", sans-serif;
    font-weight: 900;
  }

  &__button,
  &__button:hover {
    display: inline-block;
    padding: 0.75em;
    width: 100%;
    border-radius: 5px;
    background-color: $tertiary;
    color: $secondary;
    text-align: center;
    font-family: "Avenir Light", sans-serif;
    font-weight: 900;
    box-sizing: border-box;
  }
}
