{{#if model.processing}}
  <p style="text-align:center;">
    Your verification currently in progress. Please wait...
  </p>
  <div class="spinner"></div>
{{/if}}
{{#if model.requiresAction}}
  <p style="text-align:center;">
    Your verification has been failed.
  </p>
  <p style="text-align:center;">
    <strong>Reason: {{model.error}}</strong>
  </p>
  <p style="text-align:center;">
    Please click the link below and repeat verification process.
  </p>
  <a href={{model.verification_url}} style="text-align: center;display: block;margin: 0 auto;">
    Verify
  </a>
{{/if}}
{{#if model.canceled}}
  <p style="text-align:center;">
    Your verification has been cenceled.
  </p>
  <p style="text-align:center;">
    Please contact with us to solve this issue.
  </p>
{{/if}}
{{#if model.succeeded}}
  <p style="text-align:center;">
    Your verification has been completed.
  </p>
  <p style="text-align:center;">
    You will be redirected to email verification step soon.
  </p>
{{/if}}
