{{#d-section bodyClass="navigation-categories" class="navigation-container"}}
  <h1 class="communities-title">{{i18n "communitarian.communities.title"}}</h1>
  {{d-navigation
    filterType="categories"
    showCategoryAdmin=showCategoryAdmin
    createCategory=(route-action "createCategory")
    reorderCategories=(route-action "reorderCategories")
    canCreateTopic=false
    hasDraft=draft
    isCommunitiesPage=isCommunitiesPage}}
{{/d-section}}
